.ComposerBody-header .item-raafirivero-mason-fields {
    display: block;
    padding: 10px 0;
}

.DiscussionHero .item-raafirivero-mason-fields {
    display: block;
    margin-top: 15px; // Same as tags-title margin
}



.Mason-Fields {
    // border: 2px solid #ebebeb;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    padding: .5rem;
    background: #fafafa;
}

.Mason-Fields--viewer {
    background-color: @body-bg; // Force background color so it can be read when in .DiscussionHero
}

.PostStream-item .Mason-Fields {
    margin-bottom: 20px;
}

.Mason-Discussion {
    padding: .75rem 0;
}

.Mason-Discussion label {
    color: #999;
}

.DiscussionHero-items .Mason-item label, .DiscussionHero-items .Mason-Answers {
    color: #fff;
}

.Mason-Answers { 
    display: inline;
    color: #444;
    font-weight: bold;
}

.Mason-Fields--edit {
    float: right;
    position: absolute;
    right: 2rem;
    min-height: 40px;
}

.Mason-Field--title {
    line-height: 1;
    margin: 0 0 20px;
    font-size: 1.1em;
    color: @muted-color;
}

.Mason-Field--label-as-placeholder {
    label {
        display: none;
    }
}

.Mason-Inline-Answer {
    &::after {
        content: ', ';
    }

    &:last-of-type::after {
        content: '';
    }
}



.Mason-Column {
    // Counterbalance the .Form-group margin that is removed on the last element
    margin-bottom: 24px;
}

.Mason-Row:last-of-type .Mason-Column:last-of-type {
    // Do not apply the .Form-group -like margin for the last item
    margin-bottom: 0;
}

.Mason-Grid .helpText {
    // padding: .25rem 0 .5rem .75rem;
    margin: 0;
    position: relative;
    top: .25rem;
    left: .75rem;
}

@media (min-width: @screen-desktop) {
    .Mason-Grid-Wrapper {
        margin: 0 -10px;
    }

    .Mason-Grid {
        // display: table;
        display: grid;
        width: 100%;
        
    }

    .masoncol1 {
        grid-template-columns: 100%;
    }

    .masoncol2 {
        // grid-template-columns: repeat(2, 48%);
        grid-template-columns: 1fr 1fr;
        grid-column-gap: .75rem;
    }

    .masoncol3 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: .75rem;
    }

    .Mason-Grid input, .Mason-Grid .FormControl {
        background-color: #e4e4e4;
        color: #444;
    }


    .Mason-Grid .FormControl:focus, .Mason-Grid .FormControl.focus {
        background-color: #fafafa;
        color: #111;
    }

    .Mason-Grid select, span.Select {
        width: 100%;
    }

    .Mason-Grid .Form-group {
        // margin-bottom: 0;
        margin-bottom: .75rem;
    }

}
